<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.unboxing.mapper.Completion_ReplyMapper">


<!-- 등록 (외래키 사용)-->
<insert id="insert">
	insert into cp_reply (rno,bno,reply,replyer)
	values (cp_seq_reply.nextval,#{bno},#{reply},#{replyer})
</insert>

<!-- 조회 -->
<select id="read" resultType="org.unboxing.domain.Completion_ReplyVO">
	select * from cp_reply where rno = #{rno}
</select>

<!-- 삭제 -->
<delete id="delete">
	delete from cp_reply where rno = #{rno}
</delete>

<!-- 수정 -->
<update id="update">
	update cp_reply set reply = #{reply}, updatedate = sysdate where rno = #{rno}
</update>


<!-- 목록 -->
<!-- 
<select id="getListWithPaging" resultType="org.unboxing.domain.Review_ReplyVO">
select rno , bno , reply , replyer , replyDate , updatedate
	from rv_reply 
	where bno = #{bno} 파라미터로 받은 @Param("bno")와 매칭되어 사용됨
	order by rno asc
</select>	
 -->
 
 
<!-- 목록(페이징처리 포함) -->
<select id="getListWithPaging" resultType="org.unboxing.domain.Completion_ReplyVO">
	<![CDATA[
	select rno,bno,reply,replyer,replydate,updatedate
      from (
		    select /*+INDEX(cp_reply idx_reply*/
		    rownum rn,rno,bno,reply,replyer,replyDate,updatedate
		    from cp_reply
		    where bno = #{bno}
		    and rno > 0
		    and rownum <= #{cri.pageNum} * #{cri.amount}
		    ) 
	where rn > (#{cri.pageNum}-1) * #{cri.amount}
	]]>	
</select>

<!-- 댓글 전체 숫자 파악 -->
<select id="getCountByBno" resultType="int">
<![CDATA[
select count(rno) from cp_reply where bno = #{bno}
]]>
</select>

</mapper>