<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.unboxing.mapper.MemberMapper">

<!-- 테이블 Join을 처리하기위한 MayBatis의 ResultMap -->
<resultMap type="org.unboxing.domain.MemberVO" id="memberMap">
	<id property="userid" column="userid" />
	<result property="userid" column="userid"/>
	<result property="userpw" column="userpw"/>
	<result property="username" column="userName"/>
	<result property="regDate" column="regDate"/>
	<result property="updateDate" column="updateDate"/>
	<collection property="authList" resultMap="authMap">
	</collection>	
</resultMap>

<!-- 테이블 Join을 처리하기위한 MayBatis의 ResultMap -->
<resultMap type="org.unboxing.domain.AuthVO" id="authMap">
	<result property="userid" column="userid"/>
	<result property="auth" column="auth"/>
</resultMap>


<!-- 테이블 Join  (1:N 처리) resultMap 속성을 지정-->
<select id="read" resultMap="memberMap">
SELECT 
	mem.userid,userpw,username,enabled,regdate,updatedate,auth FROM
	member mem LEFT OUTER JOIN member_auth auth on mem.userid = auth.userid where mem.userid = #{userid}
</select>

<insert id="register" parameterType="org.unboxing.domain.MemberVO">
	insert into member (userid,userpw,userName)
	values(#{userid},#{userpw},#{username})
</insert>
<insert id="registerAuth" parameterType="org.unboxing.domain.AuthVO">
	insert into member_auth(userid,auth) values(#{userid},#{auth})
</insert>



</mapper>